.envrc
flake.nix
flake.lock
/.direnv
/.venv
/.zed
/target
/.vscode
*.cpp
*.so
*.pyc
.envrc
.direnv/
# Devenv
#.devenv/
.devenv*
uv.lock

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
